<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bite-Art — Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="nav-panel">
        <a class="nav-btn" href="/">Home</a>
        <a class="nav-btn" href="/password">Password</a>
        <a class="nav-btn" href="/image">Image</a>
    </nav>

    <main class="home-main">
        <div class="home-actions">
            <a class="main-btn" href="/password">Преобразовать пароль</a>
            <a class="main-btn" href="/image">Преобразовать изображение</a>
        </div>
    </main>
</body>
</html>
